@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+TC:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .3s;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 240px;
    color: aliceblue;
    background-color: #003D79;
}

.sidebar .logo_details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo_details i{
    font-size: 30px;
    color: aliceblue;
    height:30px;
    min-width: 50px;
    text-align: center;
    line-height: 30px;
}

.sidebar .logo_details .logo_name{
    font-size:18px;
    color: aliceblue;
    font-weight: 600;
}

.sidebar .nav_links{
    height: 100%;
    padding:30px 0 150px 0;
    overflow: auto;
}

.sidebar .nav_links::-webkit-scrollbar{
    display: none;
}


.sidebar .nav_links li{
   position: relative;
   list-style: none;
}

.sidebar .nav_links li:hover{
    background-color: #0554a2;
 }


.sidebar .nav_links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sidebar .nav_links li i{
    font-size: 20px;
    color: aliceblue;
    height:50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s ease;
}
.sidebar .nav_links li.showMenu i.arrow{
   transform: rotate(-180deg);
}


.sidebar .nav_links li a{
    display: flex;
    align-items: center;
    text-decoration: none;  
}

.sidebar .nav_links li a .link_name{
    font-size:18px;
    font-weight: 500;
    color: aliceblue;
}

.sidebar .nav_links li .sub_menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background:#0554a2;
    display: none;
}


.sidebar.close .nav_links li .sub_menu{
    position:absolute;
    left: 100%;
    top: -10;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav_links li.showMenu .sub_menu{
    display: block;
}


.sidebar.close .nav_links li:hover .sub_menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .nav_links li .sub_menu a{
    color: aliceblue;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
}

.sidebar .nav_links li .sub_menu a:hover{
    opacity: 1;
}

.sidebar .nav_links li .sub_menu .link_name{
    display: none;
 }

.sidebar.close .nav_links li .sub_menu .link_name{
   font-size: 18px;
   opacity: 1;
   display:block;
}

.sidebar .nav_links li .sub_menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding:3px 20px 6px 16px;
 }

 .sidebar .nav_links li:hover .sub_menu.blank{
    top: 50%;
    transform: translate(-50%);
 }

 /* 預留給側邊選單的空間 */
.main-content {
    margin-left: 260px;
}

.main-content h1{
    margin-top: 1%;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
/* 圖表的css */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: #064686;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #63a9ef;
    color: rgb(19, 19, 19);
}

.content_table{
    border-collapse: collapse;
    margin: 20px 25px;
    font-size: 0.9em;
    min-width: 500px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content_table thead tr{
    background-color:#001F3F;
    color: #f2f2f2;
    text-align: left;
    font-weight:700;
}

.content_table th, .content_table td{
    padding: 12px 15px;
}

.content_table tbody tr{
    border-bottom: 1px solid #dddddd;
    font-weight:500;
}

.content_table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content_table tbody tr:last-of-type{
    border-bottom: 2px solid #001F3F;
}

.chart_style{
    max-width: 580px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.tooltip { 
    position: absolute; 
    opacity: 0; 
    background-color: #f9f9f9; 
    border: 1px solid #d3d3d3; 
    padding: 2px; 
    color: #007979c3;
}

/* 位置有變 */
.chart_container {
    margin: 10px 0;  /* 保留左右20px的外边距，上下为0 */
}
#barChart text {
    font-weight: 600; /* Make the font bold */
    font-size: 11px; /* Adjust the font size as needed */
    fill: #333; /* Change the text color if needed */
}

.bar-chart, .pie-chart {
    margin-bottom: 10px; 
}

.bar-chart{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-bottom: 3px;
}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_title{
    font-weight: 800;
    font-size: 17px;
    padding-top: 2%;
}

.pie-chart {
    flex: 1;
    display: flex;
    flex-direction: column; /* 使子元素垂直排列 */
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}


.tooltip {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    pointer-events: none;
}

.tooltip.show {
    opacity: 1;
}